@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

:root {
  --gray1: #fafaf9;
  --gray2: #f5f5f4;
  --gray3: #e7e5e4;
  --gray7: #292524;
  --accent: #fef3c7;
  --accent2: #eab308;
  --red: #fca5a5;
  --red2: #b91c1c;
  --green: #bbf7d0;
  --green2: #15803d;
  --serif: 'Roboto Slab';
  --sans-serif: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--serif), Cambria, Cochin, Georgia, Times, 'Times New Roman',
    serif;
  background-color: var(--gray1);
  color: var(--gray7);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

button {
  font-family: var(--sans-serif);
  color: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.heading-title {
  font-size: 3rem;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--accent);
  width: max-content;
  padding: 1rem 4rem;
  margin: 0 auto 3rem;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 350px;
  gap: 1.5rem;
}

.remove-book {
  position: absolute;
  top: -5%;
  left: -5%;
  border-radius: 5px;
  font-size: 1.85rem;
  font-weight: bold;
  width: 37px;
  height: 37px;
  border: var(--red2) solid 2px;
  border-radius: 50%;
  background-color: var(--red);
  color: var(--red2);

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
}

/* .remove-book > .line {
  background-color: var(--red2);
  height: 3px;
  width: 40%;
} */

.book {
  background-color: var(--gray2);
  border: 1px solid var(--gray3);
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.book:hover .remove-book {
  visibility: visible;
}

.book-info {
  margin: auto 0;
}

.book-title {
  margin-bottom: 0.5rem;
}

.book-pages {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.book-read {
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: var(--gray7);
  color: var(--gray1);
  border-radius: 5px;
  padding: 0.8em 1.5em;
  letter-spacing: 0.1em;
  border-style: solid;
  border-width: 1px;
  /* width: 65px;
  height: 15px; */
}

.unread {
  background-color: var(--accent);
  border-color: var(--accent2);
  color: var(--gray7);
}

.add-book {
  width: 65px;
  height: 65px;
  place-self: center;
  font-weight: bold;
  font-size: 2.5rem;
  border: 4px solid var(--gray7);
  border-radius: 50%;
  background-color: var(--gray1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-book:hover {
  border-color: var(--accent2);
  color: var(--accent2);
}

.modal {
  visibility: hidden;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #29252477;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: clamp(350px, 40%, 500px);
  background-color: var(--gray2);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.add-form input {
  background-color: var(--gray1);
  border: solid 1px var(--gray3);
  border-radius: 5px;
  outline: 0;
  font: inherit;
  color: inherit;
  padding: 0.4em 0.6em;
}

.add-form input:focus {
  border-color: var(--accent2);
}

.add-form .buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 1rem;
}

.add-form button {
  flex: 1;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.7em 1em;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

.form-add-book {
  background-color: var(--green);
  color: var(--green2);
  border-color: var(--green2);
}

.close-modal {
  background-color: var(--red);
  color: var(--red2);
  border-color: var(--red2);
}
